<div class="pre-game-status" *ngIf="connected == false">
  Please wait...
</div>

<div class="pre-game-status" *ngIf="status == 'initialising'">
  Initialising...
</div>

<div class="pre-game-status" *ngIf="status == 'waiting'">
  <span *ngIf="wait">
    Next game {{wait}}, Prize: {{prize}}
  </span>
  <span *ngIf="!wait">
    No game scheduled
  </span>
</div>

<div class="pre-game-status" *ngIf="status == 'starting'">
  Game is starting soon
</div>

<div class="game" *ngIf="status != 'waiting' && status != 'initialising' && status != 'starting' && status != ''">
  <div class="question">{{question}}</div>

  <div class="choices">
    <div *ngFor="let choice of choices" [ngClass]="{'best-choice': choice.best, 'correct': choice.correct, 'incorrect': (choice.best && (choice.correct == false))}" [style.background-position]="getBackgroundPosition(choice)">
      <div class="content">
        <span>{{choice.value}}</span>
        <strong *ngIf="choice.prediction != undefined">{{choice.prediction}}%</strong>
      </div>
    </div>
  </div>
</div>