

<div *ngIf="connected == false">
  Please wait...
</div>

<div *ngIf="status == 'initialising'">
    Initialising
</div>

<div *ngIf="status == 'waiting'">
  <div *ngIf="wait">
    Next game {{wait}}, Prize: {{prize}}
  </div>
  <div *ngIf="!wait">
    No game scheduled
  </div>
</div>

<div *ngIf="status == 'starting'">
  Game is starting soon
</div>

<mat-card *ngIf="status != 'waiting' && status != 'initialising' && status != 'starting' && status != ''" class="hero-card">
  <div>
    {{question}}
  </div>

  <div>
    <div *ngFor="let choice of choices" [ngClass]="{'best-choice': choice.best}">{{choice.value}} <strong *ngIf="choice.prediction != undefined">{{choice.prediction}}%</strong></div>
  </div>

  <div class="analysis-section">
    <div *ngFor="let key of objectKeys(analysis)"> 
      {{key}} - {{analysis[key]}}
    </div>
  </div>

  <div>
    {{status}}
  </div>
</mat-card>