.particles-style {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

app-hero {
    margin-top: env(safe-area-inset-top);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/* Turn vertical scrolling on for mobile devices */
@media screen and (max-height: 600px) {
    app-hero {
        overflow-y: auto;
    }
}
